@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@font-face {
  font-family: 'Aviano Serif';
  src: url('~/assets/fonts/AvianoSerif/Aviano_Serif_Regular.otf');
}
*{
  font-family: 'Poiret One';
}
.text-brand-blue{
  color: #184f9e;
}
.text-brand-yellow{
  color: #fadc2e;
}
.text-brand-red{
  color: #e9152d;
}
.bg-brand-blue{
  background-color: #184f9e;
}
.bg-brand-yellow{
  background-color: #fadc2e;
}
.bg-brand-red{
  background-color: #e9152d;
}